<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ' - Services'}) %>
  <body>
    <%- include('../partials/header') %>
    <!-- Catch Phrase Container -->
    <section id="catch-phrase-container-partial">
      <h2 id="catch-phrase-partial" class="animate__animated animate__fadeIn">
          Chill services...
      </h2>
    </section>
        <!-- Carousel Starts Here -->
        <div id="carousel-container">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <!-- First Active Item -->
                <div class="carousel-item active">
                  <!-- Top Rows for First Slide -->
                  <div class="row row-cols-1 row-cols-md-3 align-items-center c-item1 c-item-row" id="first-image-container">
                    <!-- Custom Container for First Slide -->
                    <div id="first-slide-container">
                      <img id="first-slide" src="/images/services.jpg">
                    </div>
                  </div>
                </div>
              <!-- Carousel Cards -->
                <% let cards = [] %>
                <% for(i = 0; i<service.length; i++) { %>
                  <% cards.push(service[i]) %>
                  <% if((i+1) % 6 === 0) {%>
                    <!-- if i === 6 service avtive  -->
                    <!-- include ('carousel-item-active') -->
                    <!-- else regular-->
                    <%- include('carousel-item', {services6: cards}) %>
                    <% cards = [] %>
                    <% } else if(i === service.length-1) {%>
                      <%- include('carousel-item', {services6: cards}) %>
                      <% } %>
                <%};%>
                <!-- Carousel Cards End Here -->
              </div>
            </div>
          </div>        
        <!-- Carousel Controls -->
        <!-- Slide left  -->
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <!-- Slide right -->
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          <div>
            <!-- Add New Show -->
            <section id="add-new-container">
              <a href="/services/new">
                <button style="width: fit-content; padding: 2px 6px 2px 6px;" id="add-new-button">Add new service</button>
              </a>
            </section>
          </div>

    <%- include('../partials/footer') %>
  </body>
</html>