<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ' - Services'}) %>
  <body>
    <%- include('../partials/header') %>
    <!-- Catch Phrase Container -->
    <section id="catch-phrase-container-partial">
      <h2 id="catch-phrase-partial" class="animate__animated animate__fadeIn">
          Chill services...
      </h2>
  </section>
    <div>
        <!-- <ul>
         <% service.forEach ((service) => { %>
          <li><a href="/services/<%=service.id%>"><%= service.name %></a></li>
          <%})%>
        </ul> -->

        <% service.forEach((serviceEl) => { %>
          <a href="/services/<%= serviceEl._id %>">
            <div style="display: inline-block;">
  
              <img src="<%= serviceEl.imgUrl%>" alt="" class="card">
              <!-- <h4><%= serviceEl.name %></h4> -->
              
            </div>
          </a>
        <% }) %>
        <br>
        <a href="/services/new">
          <button class="main-btn">Add new service</button>
        </a>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>