<!DOCTYPE html>
<html lang="en">
  <!-- , {title: ` - ${service.name}`} -->
  <%- include('../partials/head') %>
  <body>
    <!-- , {h1: `Service: ${service.name}`} -->
    <%- include('../partials/header') %>
    <main>
      <!-- Name -->
      <h2>
        <%= service.name %>
      </h2>
      <!-- Price -->
      <ul>
        <li>
          <%= service.price %>
        </li>
      </ul>
      <!-- Delete Button (for our convenience)-->
      <form style="display: inline;" action="/services/<%=service._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
