<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
      <%- include('../partials/head', {title: ` - ${service.name}`}) %>
  <!-- Body -->
      <body>
    <!-- Header -->
        <%- include('../partials/header') %>
    <!-- Main Section -->
        <main>
      <!-- Catch Phrase (Name) Container -->
          <section id="catch-phrase-container-partial">
            <h2 id="catch-phrase-partial" class="animate__animated animate__fadeIn">
                <%=service.name%>
            </h2>
          </section>
      <!-- Image -->
          <section id="show-service-image-container">
            <img id="show-service-image" src="<%=service.imgUrl%>"/>
          </section>
      <!-- Monthly Subscription -->
          <section id="show-service-price-container" class="animate__animated animate__fadeInUp">
              <h3 id="monthly-subscription">
                Subscription: $<%=service.price%>/month
              </h3>
          </section>
      <!-- Carousel Here -->
      <!-- Buttons -->
          <div id="show-service-button-container">
            <!-- Delete Button (for our convenience)-->
                <form style="display: inline;" action="/services/<%=service._id%>?_method=DELETE" method="POST">
                  <button class="buttons">Delete</button>
                </form>
            <!-- Divider -->
            <div class="divider">
            </div>
            <!-- Edit Button -->
                <a href="/services/<%=service._id%>/Edit">
                  <button class="buttons">Edit</button>
                </a>
          </div>
        </main>
      <!-- Footer -->
          <%- include('../partials/footer') %>
  </body>
</html>
