<!DOCTYPE html>
<html lang="en">
  <!-- , {title: ` - ${service.name}`} -->
  <%- include('../partials/head') %>
  <body>
    <!-- , {h1: `Service: ${service.name}`} -->
    <%- include('../partials/header') %>
    <main>
      <h2>
        <%= service.name %>
      </h2>
      <ul>
        <li>
          <%= service.price %>
        </li>
      </ul>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
