<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ' - Edit Movie'}) %>
  <body>
    <%- include('../partials/header') %>
   
    <form action="/movies/<%=movie.id%>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="<%= movie.name %>"/>

        <label for="genre">Genre</label>
        <input type="text" id="genre" name="genre" value="<%= movie.genre %>"/>

        <label for="cast">Cast</label>
        <input type="text" id="cast" name="cast" value="<%= movie.cast %>"/>

        <label for="director">Director</label>
        <input type="text" id="director" name="director" value="<%= movie.director %>"/>

        <label for="upvote">Up Vote</label>
        <input type="number" id="upvote" name="upvote" value="<%= movie.upVote %>"/>

        <label for="downvote">Down Vote</label>
        <input type="number" id="downvote" name="downvote" value="<%= movie.downVote %>"/>

        <!-- SERVICE EDIT GOES HERE -->

        <% services.forEach(service => { %>

          <label for="<%= service._id%>"><%= service.name %> </label>

          <input type="checkbox" name="service" id="<%= service._id%>" value="<%= service._id %> ">
          <!-- Name matches property in model service = service -->
        <% }) %> 

        <!-- movieService and service passed from movie controller -->
        <label for="imgurl">Image Url</label>
        <input type="text" id="imgurl" name="imgUrl" value="<%= movie.imgUrl %>"/>

        <label for="synopsis">Synopsis</label>
        <input type="text" id="synopsis" name="synopsis" value="<%= movie.synopsis %>"/>
        
        <button type="submit">Save</button>
    </form>

    <%- include('../partials/footer') %>
  </body>
</html>
