<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ' - Movies'}) %>
  <body>
    <%- include('../partials/header') %>
    <!-- Catch Phrase Container -->
      <section id="catch-phrase-container-partial">
          <h2 id="catch-phrase-partial" class="animate__animated animate__fadeIn">
              Chill movies...
          </h2>
      </section>
      <!-- Movie Cards -->
    <div>
      <% movie.forEach((movieEl) => { %>
        <a href="/movies/<%= movieEl._id %>">
          <div style="display: inline-block;">

            <img src="<%= movieEl.imgUrl%>" alt="" class="card">
            <!-- <h4><%= movieEl.name %></h4> -->
            
          </div>
        </a>
      <% }) %>
      <br>
      <a href="/movies/new">
        <button>Add new movie</button>
      </a>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>