<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head', {title: ' - New Movie'}) %>
    <link rel="stylesheet" href="/styles/style.css"> 
  <body>
    <%- include('../partials/header') %>
   
    <form action="/movies" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name"/>

        <label for="genre">Genre</label>
        <input type="text" id="genre" name="genre"/>

        <label for="cast">Cast</label>
        <input type="text" id="cast" name="cast"/>

        <label for="director">Director</label>
        <input type="text" id="director" name="director"/>

        <!-- Add Service -->
        <% service.forEach(service => { %>
          <label for="<%= service._id%>"><%= service.name %></label>
          <input type="checkbox" name="service" id="<%= service._id%>" value="<%= service._id %>">
        <% }) %> 

        
        <label for="imgUrl">Image Url</label>
        <input type="text" id="imgUrl" name="imgUrl"/>

        <label for="synopsis">Synopsis</label>
        <input type="text" id="synopsis" name="synopsis"/>
        
        <button type="submit">Save</button>
    </form>
    <%- include('../partials/footer') %>
  </body>
</html>
