<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ' - Movies'}) %>
  <body>
    <%- include('../partials/header', {h1: 'Movies Index Page'}) %>
   
    <form action="/models/Movie.js" method="POST">
        <label for="title">Title</label>
        <input type="text" id="title" name="title"/>

        <label for="genre">Genre</label>
        <input type="text" id="genre" name="genre"/>

        <label for="cast">Cast</label>
        <input type="text" id="cast" name="cast"/>

        <label for="director">Director</label>
        <input type="text" id="director" name="director"/>

        <label for="upvote">Upvote</label>
        <input type="number" id="upvote" name="upvote"/>

        <label for="downvote">Downvote</label>
        <input type="number" id="downvote" name="downvote"/>

        <label for="service">Service</label>
        <select name="serviceId" id="service">
          <% services.forEach(service => { %>
            <option value="<%= service._id %>"><%= service.name %></option>
          <% }) %>
        </select>
        
        <label for="imgurl">Image Url</label>
        <input type="text" id="imgurl" name="imgurl"/>

        <label for="synopsis">Synopsis</label>
        <input type="text" id="synopsis" name="synopsis"/>
        
        <button type="submit">Save</button>
    </form>

    <%- include('../partials/footer') %>
  </body>
</html>
