<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ` - ${movie.name}`}) %>
  <body>
    <%- include('../partials/header') %>
    <main>
      <div id="image-container">
        <img src="<%=movie.imgurl%>">
      </div>
      <!-- Name -->
      <div><strong><%= movie.name %></strong></div>
      <div>
        <!-- Movie Details -->
        <div><%= (`Genre: ${movie.genre}`) %></div>
        <div><%= (`Cast: ${movie.cast}`) %></div>
        <div><%= (`Director: ${movie.director}`) %></div>
        <div><%= (`Up Vote: ${movie.upVote}`) %></div>
        <div><%= (`Down Vote: ${movie.downVote}`) %></div>
        <div><%= (`Synopsis: ${movie.synopsis}`) %></div>
        <!-- Movie Streaming Services -->
        <div> 
          Available On: 
          <% movie.service.forEach((service) => { %>
            <a href="/services/<%=service.id%>"><li><%= service.name %></li></a>
          <% }) %>
        </div>
        <!-- Edit Button -->
        <a href="/movies/<%= movie._id %>/edit">
          <button>Edit Movie</button>
        </a>
        <!-- Delete Button -->
        <form style="display: inline;" action="/movies/<%= movie._id%>?_method=DELETE" method="POST">
          <button type="submit">Delete Movie</button>
        </form>
      </div>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer') %>
  </body>
</html>