<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ` - ${movie.name}`}) %>
  <body>
    <%- include('../partials/header') %>
    <main>
      <div><strong><%= movie.name %></strong></div>
      <div>
        <div><%= (`Genre: ${movie.genre}`) %></div>
        <div><%= (`Cast: ${movie.cast}`) %></div>
        <div><%= (`Director: ${movie.director}`) %></div>
       <!-- SERVICES -->
        <div><%= (`Up Vote: ${movie.upVote}`) %></div>
        <div><%= (`Down Vote: ${movie.downVote}`) %></div>
        <div><%= (`Synopsis: ${movie.synopsis}`) %></div>
        <!-- Edit Button -->
        <a href="/movies/<%= movie._id %>/edit">
          <button>Edit Movie</button>
        </a>
        <!-- Delete Button -->
        <form style="display: inline;" action="/movies/<%= movie._id%>?_method=DELETE" method="POST">
          <button type="submit">Delete Movie</button>
        </form>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>