<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ' - Edit Show'}) %>
  <body>
    <%- include('../partials/header') %>
   
    <form action="/shows/<%=show._id%>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="<%= show.name %>"/>

        <label for="genre">Genre</label>
        <input type="text" id="genre" name="genre" value="<%= show.genre %>"/>

        <label for="cast">Cast</label>
        <input type="text" id="cast" name="cast" value="<%= show.cast %>"/>

        <label for="director">Director</label>
        <input type="text" id="director" name="director" value="<%= show.director %>"/>

        <!-- Change Service Providers -->
        <% service.forEach (service => {%>
          <label for="<%=service._id%>"><%=service.name%></label>
          <% if (service._id.toString() === serviceProvider._id.toString()) {%>

            <input type="checkbox" name="service" id="<%=service._id%>" checked>
        <%} else {%>  <input type="checkbox" name="service" id="<%=service._id%>">
        <%}})%>
        

        <!-- showService and service passed from show controller -->
        <label for="imgurl">Image Url</label>
        <input type="text" id="imgurl" name="imgurl" value="<%= show.imgUrl %>"/>

        <label for="synopsis">Synopsis</label>
        <input type="text" id="synopsis" name="synopsis" value="<%= show.synopsis %>"/>
        
        <button type="submit">Save</button>
    </form>

    <%- include('../partials/footer') %>
  </body>
</html>
