<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ' - Shows'}) %>
  <body>
    <%- include('../partials/header') %>
    <div id="showContainer">
        <div id="Rocbin">

        </div>
    </div>
    <div>
      <% show.forEach((showEl) => { %>
        <a href="/shows/<%= showEl._id %>">
          <div>

            <img src="<%= showEl.imgUrl%>" alt="">
            <h4><%= showEl.name %></h4>
            
          </div>
        </a>
      <% }) %>
      <a href="/shows/new">
        <button>Add new show</button>
      </a>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>