<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ' - Shows'}) %>
  <body>
    <%- include('../partials/header') %>
    <!-- Catch Phrase Container -->
    <section id="catch-phrase-container-partial">
      <h2 id="catch-phrase-partial" class="animate__animated animate__fadeIn">
          Chill shows...
      </h2>
    </section>
    <div>
      <% show.forEach((showEl) => { %>
        <a href="/shows/<%= showEl._id %>">
          <div style="display: inline-block;">

            <img src="<%= showEl.imgUrl%>" alt="" class="card">
            <!-- <h4><%= showEl.name %></h4> -->
            
          </div>
        </a>
      <% }) %>
      <br>
      <a href="/shows/new">
        <button>Add new show</button>
      </a>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>