<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: ` - ${show.name}`}) %>
  <body>
    <%- include('../partials/header')%>
    <main>
      <div><strong><%= show.name %></strong></div>
      <div>
        <div><%= (`Genre: ${show.genre}`) %></div>
        <div><%= (`Cast: ${show.cast}`) %></div>
        <div><%= (`Director: ${show.director}`) %></div>
       <!-- SERVICES -->
        <div><%= (`Up Vote: ${show.upVote}`) %></div>
        <div><%= (`Down Vote: ${show.downVote}`) %></div>
        <div><%= (`Synopsis: ${show.synopsis}`) %></div>
        
        <a href="/shows/<%= show._id %>/edit">
          <button>Edit Show</button>
        </a>

      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>